<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lalthanpuia.neida3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/ThlaiEnkawltu"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".thingfanghma" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main3Activity_hnahkir"
            android:label="@string/title_activity_main3_hnahkir"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main4Activity_aHnahRau"
            android:label="Hnahrau"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main5Activity_rahNatna"
            android:label="@string/title_activity_main5_rah_natna"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main6Activity_bawmtuVar"
            android:label="@string/title_activity_main6_bawmtu_var"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main7Activity_thlawkVar"
            android:label="@string/title_activity_main7_thlawk_var"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main8Activity_khau"
            android:label="@string/title_activity_main8_khau"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main9Activity_Hnah_tui_hnang_dawt_tu"
            android:label="@string/title_activity_main9__hnah_tui_hnang_dawt_tu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main10Activity_zikhlum_hnahTawih"
            android:label="@string/title_activity_main10_zikhlum_hnah_tawih"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main11Activity_zikhlum_hnahRau"
            android:label="@string/title_activity_main11_zikhlum_hnah_rau"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main12Activity_zikhlum__tiak_lawng"
            android:label="@string/title_activity_main12_zikhlum__tiak_lawng"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main13Activity_zikhum_hnah_hnuailam_var"
            android:label="@string/title_activity_main13_zikhum_hnah_hnuailam_var"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main14Activity_zikhlum_hri"
            android:label="@string/title_activity_main14_zikhlum_hri"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main15Activity_zikhlum_pangangte"
            android:label="@string/title_activity_main15_zikhlum_pangangte"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main16Activity_zikhlum_hnah_char_khawmtu"
            android:label="@string/title_activity_main16_zikhlum_hnah_char_khawmtu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main17Activity_zikhlum_tiak_sehchhumtu"
            android:label="@string/title_activity_main17_zikhlum_tiak_sehchhumtu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main18Activity_zikhlum_pangang_hring"
            android:label="@string/title_activity_main18_zikhlum_pangang_hring"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".balhla" />
        <activity
            android:name=".Main31Activity_balhla_tam_hri"
            android:label="@string/title_activity_main31_balhla_tam_hri"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main32Activity_balhla_than_thut"
            android:label="@string/title_activity_main32_balhla_than_thut"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main33Activity_hnah_de_eng"
            android:label="@string/title_activity_main33_hnah_de_eng"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main34Activity_hnah_leh_rah_rau"
            android:label="@string/title_activity_main34_hnah_leh_rah_rau"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main35Activity_balhla_thrips"
            android:label="@string/title_activity_main35_balhla_thrips"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main36Activity_aphid"
            android:label="@string/title_activity_main36_aphid"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main37Activity_balhla_PSEUDOSTEMBORER"
            android:label="@string/title_activity_main37_balhla__pseudostemborer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main37Activity_balhla_fruitandLeaf_scarring"
            android:label="@string/title_activity_main37_balhla_fruitand_leaf_scarring"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".purunsen" />
        <activity
            android:name=".Main41Activity_purunsen_kungHmawrTawih"
            android:label="@string/title_activity_main41_purunsen_kung_hmawr_tawih"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main42Activity_purunsen_ahnahTawih"
            android:label="@string/title_activity_main42_purunsen_ahnah_tawih"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main43Activity_purunsen_hnah_rau"
            android:label="@string/title_activity_main43_purunsen_hnah_rau"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main44Activity_a_hnah_rau_blight"
            android:label="@string/title_activity_main44_a_hnah_rau_blight"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main45Activity_purunsen_aHnahVuai"
            android:label="@string/title_activity_main45_purunsen_a_hnah_vuai"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main46Activity_purunsen_hnah_ei_rangtu"
            android:label="@string/title_activity_main46_purunsen_hnah_ei_rangtu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main47Activity_purunsen_hnah_hreuh_rangtu"
            android:label="@string/title_activity_main47_purunsen_hnah_hreuh_rangtu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main49Activity_purunsen_lung"
            android:label="@string/title_activity_main49_purunsen_lung"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main48Activity_purunsen_tiak_sehchhumtu"
            android:label="@string/title_activity_main48_purunsen_tiak_sehchhumtu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".serthlum" />
        <activity
            android:name=".Main51Activity_serthlum_a_hnah_hnai"
            android:label="@string/title_activity_main51_serthlum_a_hnah_hnai"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main52Activity_serthlum_kumthu"
            android:label="@string/title_activity_main52_serthlum_kumthu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main53Activity_serthlum_a_hnah_rau"
            android:label="@string/title_activity_main53_serthlum_a_hnah_rau"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main54Activity_serthlum_vutbuak"
            android:label="@string/title_activity_main54_serthlum_vutbuak"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main55Activity_rah_tawih"
            android:label="@string/title_activity_main55_rah_tawih"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".vaimim" />
        <activity
            android:name=".Main61Activity_vaimim_KuangTawih"
            android:label="@string/title_activity_main61_vaimim__kuang_tawih"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main62Activity_vaimim_a_kuang_meihawl"
            android:label="@string/title_activity_main62_vaimim_a_kuang_meihawl"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main63Activity_vaimim_hnah_rau"
            android:label="@string/title_activity_main63_vaimim_hnah_rau"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main63Activity_vaimim_Hnah_rau_val"
            android:label="@string/title_activity_main63_vaimim__hnah_rau_val"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main65Activity_vaimim_kau_eitu"
            android:label="@string/title_activity_main65_vaimim_kau_eitu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main66Activity_vaimim_pangan_hmul"
            android:label="@string/title_activity_main66_vaimim_pangan_hmul"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main56Activity_serthlum_katnei"
            android:label="@string/title_activity_main56_serthlum_katnei"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main57Activity_serthlum_citurs_leaf"
            android:label="@string/title_activity_main57_serthlum_citurs_leaf"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main57Activity_serthlum_kung_kertu"
            android:label="@string/title_activity_main57_serthlum_kung_kertu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main59Activity_serthlum_rah_dawttu"
            android:label="@string/title_activity_main59_serthlum_rah_dawttu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main510Activity_serthlum_moth"
            android:label="@string/title_activity_main510_serthlum_moth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".thingfanghma_hnahkir" />
        <activity android:name=".img_thingfanghma_vutbuak" />
        <activity android:name=".img_thingfanghma_aHnahRau" />
        <activity android:name=".img_thingfanghma_aRahNatna" />
        <activity android:name=".img_thingfanghma_bawmtuVar" />
        <activity android:name=".img_thingfanghma_thlawkVar" />
        <activity android:name=".img_thingfanghma_khau" />
        <activity android:name=".img_thingfanghma_hnahTuihnangDawttu" />
        <activity android:name=".img_zikhlum_aHnahTawih" />
        <activity android:name=".img_hnar_rau" />
        <activity android:name=".img_zikhlum_tiakLawng" />
        <activity android:name=".img_zikhlum_hnahHnuailamVar" />
        <activity android:name=".img_zikhlum_zikhlumHrik" />
        <activity android:name=".img_zikhlum_pangangte" />
        <activity android:name=".img_zikhlum_hnahCharKhawmtu" />
        <activity android:name=".img_zikhlum_tiakSehchhumtu" />
        <activity android:name=".img_zikhlum_pangangHring" />
        <activity android:name=".img_balhla_aTamHri" />
        <activity android:name=".img_balhla_thanThu" />
        <activity android:name=".img_balhla_hnahDeEng" />
        <activity android:name=".img_balhla_hnahLehRahRau" />
        <activity android:name=".img_balhla_thrips" />
        <activity android:name=".img_balhla_aphid" />
        <activity android:name=".img_balhla_pseudostem" />
        <activity android:name=".img_balhla_fruitAndleadBeetle" />
        <activity android:name=".img_purun_aKungHmawrTawih" />
        <activity android:name=".img_purun_hnahTawih" />
        <activity android:name=".img_purun_hnahRauValKual" />
        <activity android:name=".img_purun_hnahRau" />
        <activity android:name=".img_purun_aHnahUai" />
        <activity android:name=".img_purun_hnahEiRangtuRannung" />
        <activity android:name=".img_purun_hnahHreuhRangtu" />
        <activity android:name=".img_purun_lung" />
        <activity android:name=".img_purun_tiakSehChhumtu" />
        <activity android:name=".img_serthlum_aKungHnai" />
        <activity android:name=".img_serthlum_kumthu" />
        <activity android:name=".img_serthlum_aHnahRau" />
        <activity android:name=".img_serthlum_vutbuak" />
        <activity android:name=".img_serthlum_aRahTawih" />
        <activity android:name=".img_serthlum_katneih" />
        <activity android:name=".img_serthlum_aHnahHreuhRangtu" />
        <activity android:name=".img_serthlum_aKungKertu" />
        <activity android:name=".img_serthlum_rahDawttu" />
        <activity android:name=".img_serthlum_moth" />
        <activity android:name=".img_vaimim_aKungTawih" />
        <activity android:name=".img_vaimim_aKuangMeihawlDum" />
        <activity android:name=".img_vaimim_hnahRauRawngUk" />
        <activity android:name=".img_vaimim_hnahRau" />
        <activity android:name=".img_vaimim_aKauEitu" />
        <activity android:name=".img_vaimim_pangang" />
        <activity android:name=".img_vaimim_jassid" />
        <activity
            android:name=".Main67Activity_vaimim_jassid"
            android:label="@string/title_activity_main67_vaimim_jassid"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main68Activity_vaimim_tuiHnangDawttu"
            android:label="@string/title_activity_main68_vaimim_tui_hnang_dawttu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".img_vaimim_tuihangdawttu" />
        <activity android:name=".ZikhlumNew" />
        <activity android:name=".listview" />
        <activity android:name=".vaimimChindan" />
        <activity android:name=".img_vaimim_chindan1" />
        <activity android:name=".img_vaimim_chindan2" />
        <activity android:name=".img_vaimim_chindan3" />
        <activity android:name=".img_vaimim_chindan4" />
        <activity android:name=".img_vaimim_chindan5" />
        <activity android:name=".img_vaimim_chindan6" />
        <activity android:name=".img_vaimim_chindan7"></activity>
    </application>

</manifest>